ACTION=="add",
  SUBSYSTEM=="input",                                   \
  ATTR{id/product}=="b023",                             \
  ATTR{id/vendor}=="046d",                              \
  ATTR{name}=="Logitech Wireless Mouse MX Master 3",    \
  TAG+="systemd",                                       \
  ENV{SYSTEMD_WANTS}="logid-restart.service"

