[Unit]
Description=Monitor lan-mouse logs to trigger appropriate commands
# starts after lan-mouse and graphical session
After=lanmouse.service

[Service]
ExecStart=/usr/bin/bash %h/.config/scripts/lanmouse-monitor.sh
Restart=on-failure
RestartSec=3
StandardOutput=journal
StandardError=journal
# set environment variables
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/%U

[Install]
WantedBy=default.target