[Unit]
Description=Restart LogiOps (Logitech unofficial driver) when device is connected

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart logid.service